@import "./reset.css";
@import "./variables.css";

* {
  font-family: "DM Sans", sans-serif;
  color: aliceblue;
}
body {
  max-width: 100%;
  background-color: #171718;
}

h1 {
  font-size: 60px;
}
strong {
  color: var(--orange);
}
h2 {
  font-size: 40px;
}

.fullproject-enter {
  opacity: 0;
}
.fullproject-enter-active {
  opacity: 1;
  transition: opacity 700ms;
}
.fullproject-exit {
  opacity: 1;
}
.fullproject-exit-active {
  opacity: 0;
  transition: opacity 700ms;
}
