.main-header-text p {
  margin-top: 20px;
  font-size: 18px;
}

.main-header {
  background-color: #171718;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-header a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 16px;
  background-color: var(--orange);
  width: 160px;
  height: 48px;
  border-radius: 5px;
  font-weight: 700;
  z-index: 1;
}

.box {
  border: 1px inset;

  border-image: linear-gradient(rgba(103, 7, 193, 0.6), rgba(255, 255, 255, 0))
    1;
  position: absolute;
  width: 457.2px;
  height: 457.2px;
}

.projects {
  background-color: #e5e5e5;
  padding: 70px 115px;
}

.projects-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: var(--orange);
  font-weight: 700;
}
.projects-list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}

.card_p {
  padding: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #171718;
}
