.main-header-text p {
  margin-top: 20px;
  font-size: 18px;
}

.main-header {
  background-color: #171718;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-header a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 16px;
  background-color: var(--orange);
  width: 160px;
  height: 48px;
  border-radius: 5px;
  font-weight: 700;
}

.box {
  border: 1px inset;

  border-image: linear-gradient(rgba(103, 7, 193, 0.6), rgba(255, 255, 255, 0))
    1;
  position: absolute;
  width: 457.2px;
  height: 457.2px;
}
